<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Roll Dice</title>
</head>
<body>
    <h1>Roll Dice</h1>
    <h3>You rolled a <%= diceValue %>!</h3>
    <% if(diceValue === 6) { %>
        <p>Congratulations! You rolled the highest number!</p>
    <% } %>
</body>
</html>