p{
    color: #a52a2a;
    text-align: center;
}

h1{
    text-align: center;
    color: red;
    text-decoration: underline;
}

h3{
    text-align: center;
    color: black;
}

h4{
    text-align: center;
}

a{
    text-decoration: none;
    color: green;
}

button{
    background-color: white;
    color: blueviolet;
}

span{
    line-height: 30px;
}