div {
    height: 120px;
    width: 600px;
    background-color: pink;
    border-width: 5px;
    border-style: solid;
    border-color: yellow;
    border-left-color: blue;
    border-left-style: dashed;
    border-top: 5px dashed red;
    border-radius: 10px;
    border-top-right-radius: 25px;
    padding-top: 10px;
    padding-left: 5px;
    margin-bottom: 20px;
    margin-left: 10px;
}

h1 {
    border: 2px dotted green;
    padding-left: 100px;
}

button {
    border: 2px solid black;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: yellow;
    margin-left: 200px;
}