h2{
    display: inline;
    background-color: pink;
}

span {
    display: block;
    background-color: yellowgreen;

}

div {
    height: 100px;
    width: 100px;
    background-color: red;
    border: 2px solid black;
    margin: 5px;
    display: inline-block;
}

h1 {
    border: 2px solid black;
    width: 50%;
}

button {
    font-size: 50px;
    border-radius: 15px;
    border: 5px solid green;
    padding-left: 20px;
    padding-right: 20px;
}