#container {
    height: 500px;
    width: 80%;
    background-color: azure;
    margin: 10px auto;
    border: 2px solid black;
    display: flex;
    flex-direction: row;  /* column, row & reverse */
    justify-content: flex-start;  
    flex-wrap: wrap;  /* wrap , wrap-reverse */
    align-items: center;
    align-items: baseline;
    align-content: flex-start;
}

#yel {
    align-self: flex-end;
    flex-basis: 100px;
    flex-grow: 3;
}

h1 {
    text-align: center;
}

#container div {
    height: 100px;
    width: 280px;
    color: white;
    text-align: center;
    font-size: 1.5em;
}