#container {
height: 400px;
width: 400px;
background-color: white;
display: flex;
flex-wrap: wrap;
border: 3px solid lightseagreen;
border-radius: 10px;
justify-content: space-evenly;
align-items: center;
}

.box {
height: 100px;
width: 100px;
background-color: grey;
font-size: 50px;
border: 2px solid black;
border-radius: 10px;
text-align: center;
}

#navbar {
height: 50px;
width: 600px;
background-color: pink;
border: 2px solid lightseagreen;
border-radius: 10px;
display: flex;
justify-content: flex-start;
align-content: center;
}

.option {
height: 50;
width: 80px;
font-size: 24px;
border-radius: 10px;
margin-left: 5px;
line-height: 50px;
}