.container {
    width: 600px;
    height: 300px;
    background-color: yellow;
    display: inline-grid;
    /* grid-template-rows: 50px 50px 50px;
    grid-template-columns: 100px 100px 100px; */
    grid-template-rows: repeat(5,1fr);
    grid-template-columns: 1fr 1fr 1fr;
    /* row-gap: 30px;
    column-gap: 100px; */
    grid-gap: 30px 100px;
    justify-items: center;
    align-items: center;
}

.one {
    justify-self: end;
    align-self: end;
}

.item {
    width: 100px;
    height: 50px;
    background-color: greenyellow;
    border: 2px solid black;
    text-align: center;
}