h1 {
    background-color: yellow;
    border: 2px solid black;
}

@media (width: 400px) {
    h1 {
        background-color: red;
        color: white;
    }
    div {
    height: 100px;
    width: 100px;
    background-color: blue;
    }
}

@media (min-width : 700px){
     h1 {
        background-color: red;
        color: white;
    }
}

@media (min-width : 400px){
     h1 {
        background-color: pink;
        color: blue;
    }
}

@media (orientation:landscape ) {
    h1 {
        background-color: aqua;
        color: brown;
    }
}